@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background-color: white;
    --header-color: lightblue;
    --footer-color: grey;
}

body{
    font-family: "Montserrat", sans-serif;
    background-color: var(--background-color);
    margin: 0;
    padding: 0;
    height: 100%;
}

#content {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh;
}

header {
    background-color: var(--header-color);
    color: black;
    padding: 20px;
    text-align: center;
}

footer {
    background-color: var(--footer-color);
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

section {
    margin: 10px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

/* Container holding both boxes */
.currency-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 100%;
    margin: 0 auto;
}

/* Individual boxes for input and output */
.currency-box {
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;   
}

/* Labels and Input styling */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input, select {
    width: 100%;         
    box-sizing: border-box; 
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

/* Output display */
#convertedAmountDisplay {
    width: 100%;    
    box-sizing: border-box;
    font-size: 24px;
    color: #333;
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 45px;
}

/* General styling for the textfield class */
.textfield {
    width: 100%;        
    height: 100px;        
    padding: 10px;         
    font-size: 16px;       
    border: 1px solid #ccc;
    border-radius: 5px;    
    box-sizing: border-box;
}

ol {
    list-style-type: none;
    padding-left: 0;
}

